body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 25 px;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 50px
}

#todos {
    width: 200px;
}

#todos div {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

body
{
    background-color: aliceblue;
}

